<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel de Gestión Administrativa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Panel de Gestión Administrativa</h1>
    </header>
    <div class="container">
        <h2>Opciones de Administración</h2>

        <div class="button-container">
            <a href="{{ url_for('crear_registro') }}"><button>Crear Registro</button></a>
            <a href="{{ url_for('actualizar_registro') }}"><button>Actualizar Registro</button></a>
            <a href="{{ url_for('consultar_registro') }}"><button>Consultar Registro</button></a>
            <a href="{{ url_for('ver_registros') }}"><button>Ver Registros</button></a>
            <a href="{{ url_for('eliminar_registro') }}"><button>Eliminar Registro</button></a>
            <a href="{{ url_for('logout') }}"><button>Cerrar Sesión</button></a>
        </div>
    </div>
</body>
</html>
